@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dominantColor);
  font-family: 'Roboto', sans-serif;
}

:root {
  --dominantColor: #1c1f2d;
  --secondaryColor: #36454F;
  --accentColor: #00ad42;
}